@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:wght@300&display=swap');

/* .icon-button-active {
  background-color: rgba(0, 0, 0, 0.04);
} */
:root {
  --primary: 114 82 239;
  --secondary: 58 57 94;
}
#root {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(var(--secondary));
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(var(--primary) / 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--primary));
}

@keyframes buttonEffect {
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.swiper-nav-control:hover {
  animation: buttonEffect 0.3s forwards;
  background: #000;
}
/* .cus-card-desc {
  position: absolute;
  top: 0;
  animation: animateText 1s infinite ease-in-out;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
@keyframes animateText {
  0% {
    top: 0;
  }
  25% {
    top: -24px;
  }
  50% {
    top: -48px;
  }
  75% {
    top: -72px;
  }
} */
.introduction-container {
  opacity: 0;
  filter: blur(2px);
  display: none;
}
.animate-visible {
  transition: opacity 0.5s linear, filter 0.5s linear;
  opacity: 1;
  filter: blur(0);
}
.animate-section-visible {
  transform: translateX(0) !important ;
  transition: transform 200ms linear;
}
.introduction-container__section1 {
  position: relative;
  transform: translateX(calc(-100% - 56px));
}
.introduction-container__section2 {
  position: relative;
}

@keyframes bouncy-loading {
  5% {
    width: 40px;
    height: 40px;
  }
  35% {
    width: 40px;
    height: 40px;
  }
  40% {
    width: 120px;
    height: 120px;
  }
  70% {
    width: 120px;
    height: 120px;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
